# Created objects and program executable
obj/
*.a
*.o
*.obj
*.out
*.exe
*.app
Makefile.gen
btc
RPN
PmergeMe

# Precompiled Headers
*.gch
*.pch

# VSCode
.vscode
*.code-workspace

# Misc
*_shrubbery
test
